{% extends 'website/base.html' %}

{% block title %} About | HVAC & More {% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="../../static/website/about.css">
{% endblock %}

{% block content %}
    <div id="page-content" class="container">
        <div class="row-outline">
            <div class="row d-inline d-md-flex justify-content-center align-items-center">

                <div class="col col-md-4 d-block d-md-flex justify-content-end">
                    <img src="../../static/website/images/placeholder.jpg" class="img-fluid d-md-flex img-1">         
                </div>

                <div class="col col-md-7 d-inline d-md-flex justify-content-center">
                    <div>
                        <h3 class="head-1">Mr. Adama Diallo, CEO & Independent Contractor</h3>
                        <p class="text-1">
                            In today's dynamic commercial and residential landscape, reliable and comprehensive building system management is not just a convenience—it's a necessity. HVAC & MORE LLC is proud to announce its launch, led by Mr. Adama Diallo, a seasoned and highly accomplished HVAC Technician/Mechanic with well over 30 years of invaluable experience. As CEO and an independent contractor, Mr. Diallo brings an unparalleled depth of knowledge, a commitment to safety, and a proven track record of excellence to every client.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <h2><strong>The Vision Behind HVAC & MORE LLC</strong></h2>
            <p>HVAC & MORE LLC is founded on the principle of delivering superior service that extends beyond traditional HVAC solutions. We understand that modern properties require a holistic approach to maintenance, repair, and installation. Under Mr. Diallo's leadership, HVAC & MORE LLC will provide:</p>
            <ul>
                <li><strong>Unmatched HVAC Expertise</strong>: From intricate installations to complex troubleshooting of chillers, boilers, and all related components, our core competency in heating, ventilation, and air conditioning is unparalleled.</li>
                <li><strong>Comprehensive Facilities Management</strong>: Leveraging Mr. Diallo's extensive background as a Senior Operating Engineer, we offer robust solutions for electrical systems, plumbing, and general facility maintenance, ensuring all aspects of your property function optimally.</li>
                <li><strong>Proactive & Preventive Maintenance</strong>: Our focus is on extending the lifespan of your critical building machinery and systems through meticulously planned preventive maintenance programs, minimizing downtime, and maximizing efficiency.</li>
                <li><strong>Project Management Excellence</strong>: With a proven ability to manage projects from conception to completion and coordinate effectively with external partners, HVAC & MORE LLC ensures seamless execution and timely delivery.</li>
                <li><strong>Exceptional Customer Service</strong>: We are dedicated to transparent communication, accountability, and building lasting relationships. Clients can expect clear answers, proactive updates, and a commitment to their satisfaction.</li>
            </ul>
            <h2><strong>Why Choose HVAC & MORE LLC?</strong></h2>
            <ul>
                <li><strong>Decades of Proven Experience</strong>: Adama Diallo's extensive career, including leadership roles at Geico and hands-on experience with diverse commercial and residential properties, means your systems are in the hands of a true expert.</li>
                <li><strong>Licensed & Certified Professional</strong>: Holding HVAC Journeyman Licenses in VA & MD, a CFC Universal License, and a MD State Commercial Driver’s License, Mr. Diallo's credentials speak for themselves.</li>
                <li><strong>Holistic Approach</strong>: Beyond HVAC, our "MORE" signifies our capability to handle a wide range of facility needs, including advanced electrical, plumbing, and general handyman services.</li>
                <li><strong>Safety & Compliance First</strong>: A safety-conscious leader, Mr. Diallo, ensures all work adheres to the highest safety standards and local regulations.</li>
                <li><strong>Efficiency & Reliability</strong> Our services are designed to enhance the energy efficiency of your systems and provide reliable, long-term solutions.</li>
            </ul>
            <strong>HVAC & MORE LLC</strong> is more than just a service provider; we are your strategic partner in maintaining, optimizing, and enhancing the value of your property. We invite you to experience the difference that decades of expertise, a commitment to excellence, and a comprehensive service offering can make.
            <h3 class="mt-3">
                <strong>
                Contact HVAC & MORE LLC today to discuss your facility needs and discover how Mr. Adama Diallo can bring unparalleled value to your next project.
                </strong>
            </h3>
        </div>
    </div>
{% endblock %}