[Django]
secret: 

[GoogleOAuth2]
client_id:
client_secret:

[Admins]
adama_email:
admins:

[Stripe]
publishable_key:
secret_key: 

[Paypal]
client_id:
client_scret:

[Email]
server_email:
server_password: 